.homePage_1{
    display: grid;
    grid-template-columns: 1f;
    justify-items: center;
}
.home__title{
    position: relative;
    height: 100px;
    margin-top: 120px;
    margin-bottom: 40px;
}
.home__welcom{
    font-size: 40px;
    color: #FE1936;
}
.home__p{
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 22px;
    color: #302F2F;
}
.home__form{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 50px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 6px 0px #00000026;
}
.home__input{
    border-color: #cccccc;
}
.home__btn{
    background: #D93F3F;
    color: white;
}
.homePage_2{
    display: grid;
    grid-template-rows: 2fr 1fr;
    height: 99px;
    margin-top: 80px;
}
.home__linea{
    background-color: #DD1A1A;
}
.home__linea2{
    background-color:#0C0C0C;
}
